=javascript_include_tag '/editor/js/froala_editor.min'
=stylesheet_link_tag '/editor/css/font-awesome.min', '/editor/css/froala_editor.min'
.top-content
  .inner-bg
    .container
      .row
        .form-box
          .form-top
            .form-top-left
              %h3 新建博客
              %p 
            .form-top-right
              %i.fa.fa-user
          .form-bottom
            = form_for :blog, url(:blogs, :create), :class => 'form-horizontal' do |f|
              =partial 'blogs/form', :locals => { :f => f }
              